@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url(""+$font-file+".eot");
    src:
      url(""+$font-file+".otf") format("opentype"),
      url(""+$font-file+".eot?#iefix") format("embedded-opentype"),
      url(""+$font-file+".woff") format("woff"),
      url(""+$font-file+".woff2") format("woff"),
      url(""+$font-file+".ttf") format("truetype"),
      url(""+$font-file+".svg#aller") format("svg");
    font-weight: 300;
    font-style: normal;
  }
}
