# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      # Specify the version you desire here
      - image: thecodingmachine/php:7.2-v3-fpm-node10

    steps:
      - checkout
      - run: sudo apt install -y tree
      - run: composer install -n --prefer-dist
      - run: npm install
      - run: tree node_modules/nes.css
      # run gulp tasks
      - run: npm run prod
