// colors
// based on: http://bootflat.github.io/color-picker-blue.html
// ==========================================
$color-main: #22a7f0;
$color-secondary: #f4f6f9;

// fonts
// ==========================================
$c_font: #fff;
$c_font_sub: #bfbfbf;

// Your variable overrides
// ==========================================
$body-bg: #000;
$body-color: #fff;

// Bootstrap and its default variables
// ==========================================
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// NES.css
// ==========================================
@import "../../../../node_modules/nes.css/css/nes.css";
