// colors
// ==========================================
$color-main: #0634a4;
$color-secondary: #f4f6f9;

// fonts
// ==========================================
$c_font: #fff;

// Your variable overrides
// ==========================================
$body-bg: #000;
$body-color: #fff;

// Bootstrap and its default variables
// ==========================================
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// NES.css
// ==========================================
@import "../../../../node_modules/nes.css/css/nes.css";
